
*,
::before,
::after {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

body {
    padding: 0;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
}
li{
    list-style: none;
}
.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}


.header {
    padding: 25px 0;
}

.header-container {
    
    display: flex;
    justify-content: space-between;
}

.header__link {
    text-decoration: none;
}

.nav {
    display: flex;
}

.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav__item + .nav__item {
    margin-left: 33px;
}

.nav__link {
    font-size: 12px;
    font-weight: 700;
    color: #83888F;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.5s ease;
}

.nav__link:hover {
    color: #333D4B;
}

.nav__link--active {
    color: #333D4B;
}

.hero .container
{
    background-image: url('../img/Bitmap.svg');
    width: 1280px;
    padding: 136px 85px;
    background-repeat: no-repeat;
    border-radius: 10px;
    
}
.hero-info
{
    width: 485px;
    color: white;
}
.hero__heading{
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 48px;
}
.works{
    margin-top: 100px;
}

.subscribe__works .container {
    width: 1280px;
    height: 653px;
    margin: 0 auto;
    padding: 91px 150px 107px 85px;
    background: #2C343E;
    border-radius: 10px;
 }
 
 .works__round--bg {
    background: #2C343E;
 }
 
 .works__heading--color {
    color: #FEFCF7;;
 }
 
 .works__paragraph--color {
    color: #FEFCF7;
 }

 /* wokrs */

.works {
    margin-bottom: 200px;
 }
 
 .works__container {
    margin-left: 85px;
 }
 
 .works_header {
    margin-top: 0;
    margin-bottom: 80px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
 }
 
 .works__line {
    margin-bottom: 67px;
    display: flex;
    align-items: center;
 }
 
 .works__round {
    display: block;
    width: 31px;
    height: 31px;
    background: #FEFCF7;
    border: 3px solid #0E8784;
    border-radius: 50%;
 }
 
 .line {
    display: block;
    width: 350px;
    height: 2px;
    background-color: #FDD6BA;
 }
 
 .works__list {
    margin: 0;
    margin-bottom: 64px;
    padding: 0;
    display: flex;
 }
 
 .works__item {
    width: 285px;
 }
 
 .works__item:nth-child(1)::before {
    width: 90px;
    height: 72px;
    margin-bottom: 38px;
    display: block;
    background-image: url('../img/one.png');
    background-repeat: no-repeat;
    content: "";
 }
 
 .works__item:nth-child(2)::before {
    width: 101px;
    height: 72px;
    margin-bottom: 38px;
    display: block;
    background-image: url('../img/two.png');
    background-repeat: no-repeat;
    content: "";
 }
 
 .works__item:nth-child(3)::before {
    width: 98px;
    height: 72px;
    margin-bottom: 38px;
    display: block;
    background-image: url('../img/tree.png');
    background-repeat: no-repeat;
    content: "";
 }
 
 .works__item--left +.works__item--left {
    margin-left: 95px;
 }
 
 
 .works__heading {
    width: 250px;
    margin-top: 0;
    margin-bottom: 42px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: white;
 }
 
 .works__paragraph {
    margin-top: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: white;   
 }
 .samuray .container{
     width: 873px;
     background-color: #2C343E;
     color: white;
     margin-right: 30px;
     padding: 15px;
     border-radius: 10px;
 }
 .samuray-heading{
     margin-left: 40px;
    font-family: "Barlow" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: dimgray;
 }
 .samuray-info{
     width: 602px;
     font-family: Fraunces 9pt;
     font-style: normal;
     font-weight: 900;
     font-size: 24px;
     line-height: 40px;
 }
 .green{
     color: teal;
     font-family: 'Fraunces';
 }
.footer{
    margin-top: 80px;
    margin-bottom: 20px;

}

 .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 85px;
    background-color: #2C343E;
}

.footer-left {
    width: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link--active {
    color: #FEFCF7;
}

.f-nav__link:hover {
    color: #FEFCF7;
}

.footer-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-links__item + .footer-links__item {
    margin-left: 24px;
}